.apartments-panel {
  margin-bottom: 100px;
}
.apt-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 15px 0;
  padding: 10px;
  background-color: white;
}

.apt-info {
  display: inline-block;
  word-break: break-word;
}
.apt-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.submit-btn {
  margin: 18px 0;
}
