.App {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background-color: rgb(243, 238, 238);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

select {
  padding: 0 10px;
}

/*? Apartment form */
.apartment-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: rgb(219, 219, 219);
  padding: 10px;
}

.apartment-form input,
select,
textarea {
  min-height: 20px;
}

@media screen and (max-width: 900px) {
  .apartment-form {
    flex-direction: column;
  }
  .form-field input {
    width: 100%;
  }
}

.apartment-form label {
  display: block;
}

/*? Button */
.btn {
  margin: 0 10px;
  padding: 10px;
  border: none;
  min-width: 100px;
  border-radius: 5px;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

/*? Sort panel */
.sort-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/*? Apartment */
.apt-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 15px 0;
  padding: 10px;
  background-color: white;

  overflow-wrap: break-word;
}
